[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.11.1"
django-rest-knox = "*"
psycopg2-binary = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
asgiref = "==3.2.10"
django-cors-headers = "==3.5.0"
djangorestframework-simplejwt = "==4.6.0"
pytz = "==2020.1"
sqlparse = "==0.3.1"
Django = "==3.1.1"
PyJWT = "==1.7.1"
coreapi = "*"

[dev-packages]

[requires]
python_version = "3.8"
